/* .fade-in {
    opacity: 0;
    transition: opacity 3s ease-in-out;
  }
  
  .fade-in.active {
    opacity: 1;
  } */
  
  .text-shadow {
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.3));
  }
  /* Horizontal part of the "L" */
  .l-bar-horizontal {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  .l-bar-vertical {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  